<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>Adventure Awaits!</title>
        <meta charset="UTF-8">
    </head>
    <body class = "container">
        <div id = "step-1" class = "info">
            <header>
                <h1>Adventure waits for No one!</h1>
            </header>
                <div id = "info-submit">
                    <div class ="questions">Where are you going?: <input type = "text" id = "first-destination"></div>
                    <div class ="questions">When are you leaving?: <input type = "date" id = "depart-date"><br></div>
                    <div class ="questions">When are you returning?: <input type = "date" id = "return-date"><br></div>
                    <!-- <div class ="questions">Multiple destinations?: <input type ="checkbox" id ="multicity"><br></div> -->
                    <input id = "submit-button" type ="submit" value = "Submit" onclick="return Client.submitForm(event)">
                </div>
        </div>
        <div id ="step-2" class = "info">
            <!-- Background should reflect initial city -->
            <h2 id = "destination">Insert Destination Here</h1>
                <p>Trip countdown here</p>
            <div id ="step-3" class = "info>">
                <h2 id = "month">Insert Month here</h2>
                <div id = "calendar">
                </div>
            </div>
            <a id = "view-cal">Click here to view calendar below!</a>
        </div>
        <footer>
                hello i am footer
                <!-- Should have button to return to the beginning -->
        </footer>
    </body>
</html>