<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>Adventure Awaits!</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&family=Source+Serif+Pro:ital,wght@1,300&display=swap" rel="stylesheet">
        <meta charset="UTF-8">
    </head>
    <body class = "container">
        <div id = "step-1" class = "info">
            <header>
                <h1>Adventure waits for no one!</h1>
            </header>
                <div id = "info-submit">
                    <div class ="questions">Where are you going?: <input type = "text" id = "first-destination" placeholder = "City"></div>
                    <div class>If this city is in the US, please input the state abbreviation!: <br><center><input type = "text" id="state" maxlength = "2" placeholder="State"></center></div>
                    <div class = "questions">Please input the country code! (two letters): <br><center><input type = "text" id="country"maxlength = "2" placeholder = "Country Code"></center></div>
                    <p>Refer to this <a href ="http://www.geonames.org/export/free-geocoding.html" target="_blank">link</a> to view supported countries and its country code</p>
                    <div class ="questions">When are you leaving?: <input type = "date" id = "depart-date"><br></div>
                    <div class ="questions">When are you returning?: <input type = "date" id = "return-date"><br></div>
                    <input id = "submit-button" type ="submit" value = "Submit" onclick="return Client.submitForm(event)">
                </div>
        </div>
        <div id ="step-2" class = "info">
            <!-- Background should reflect initial city -->
            <h1 id = "destination">Insert Destination Here</h1>
        </div>
        <div id ="step-3" class = "info">
            <div id= "back" class = "cal"><img src="https://img.icons8.com/ultraviolet/40/000000/collapse-arrow.png"/></div>
            <h2 id = "month" class = "cal">Insert Month here</h2>
            <div id = "calendar" class = "cal">
            </div>
            <div id="next" class = "cal"><img src="https://img.icons8.com/ultraviolet/40/000000/expand-arrow--v1.png" alt="next month"/></div>
        </div>
        <footer>
                <a id = "view-cal">Click here to view the calendar!</a>
                <a id = "refresh">Click to start at the beginning!</a>
        </footer>
        <script>
            if ('serviceWorker' in navigator) {
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>