#step-3{
    display:none;
    flex-direction: column;
    align-items: center;
    grid-area: cal;
    z-index: 0;
    bottom:150px;

    h2{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-color:lightblue;
        font-size:48px;
        padding-bottom:10px;
        width:70%;
        box-shadow: 5px 5px 5px grey;
        padding-top:10px;
        margin-top:0;
        margin-bottom:0;
        text-align:center;

    }
    table{
        width:85%;
        justify-self: center;

    }
    .active-calendar{

        padding-top:20px;
        padding-left:10px;
        padding-right:10px;
        padding-bottom: 20px;
        border-collapse:separate;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-style:hidden;
        table-layout:fixed;
        width:100%;
        min-width:200px;
        background-color:lightblue;
        box-shadow: 5px 5px 5px grey;
        margin-bottom: 0px;

        td,th{
            border: 1px hidden;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            padding: 10px;
            background-color: white;
            
        }

        #day-header{
            font-weight:bold;
            text-align:center;
        }
        
        td{
            vertical-align: top;
            text-align:left;
            min-height:25%;

            p{
                max-height: 40px;
                text-align: center;
            }
        }
    }

    .inactive-cal{
        display:none;
    }

    #calendar{
        margin-right:100px;
        margin-left: 100px;
    }
    #next{
        z-index:0;
        display:none;
        padding-top: 10px;
        padding-bottom:10px;
        grid-area: next;
        justify-self: center;
        justify-content: center;
        width: 100px;
        background-color:lightblue;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow: 5px 5px 5px grey;
        margin-bottom: 100px;
    }
    #back{
        z-index:0;
        grid-area:back;
        padding-top:10px;
        justify-self:center;
        justify-content: center;
        width: 100px;
        display:none;
        background-color:lightblue;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        box-shadow: 5px 5px 5px grey;
    }
}
